<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mission Control</title>
    <!--BootStrap-->
    <link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity = 'sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
    crossorigin = 'anonymous'>
    <link rel = 'stylesheet' type = 'text/css' href = 'style.css'>
</head>
<body>
    <div class='container'>
        <!---Jumbotron-->
        <div class = 'jumbotron text-center' style = 'background-image: url(https://i.ytimg.com/vi/GIooAx_GkJs/maxresdefault.jpg); background-position: center; background-size: cover;'>
            <h1 class = 'display-3'></h1>
            <p><a class = 'btn btn-danger btn-lg' href = '/scrape' role = 'button' style='text-align:center;'>Mission Control Breif</a></p>
        </div>
    </div>





































</body>
</html>