<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mission Control</title>
    <!--BootStrap-->
    <link rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity = 'sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
    crossorigin = 'anonymous'>
    <link rel = 'stylesheet' type = 'text/css' href = 'style.css'>
</head>
<body  class = 'text-white' style= 'background-color: black;'>

<!--Mars News-->
<div class = 'container'>
    <div class='row' id='mars_news'>
        <div class = 'media'>
            <div class = 'media body'>
                <h4>Lates on Mars</h4>
                    <h5 style = 'color: black'>{{mars.news_t}}</h5>
                    <p style = 'color: white'>{{mars.news_p}}</p>
            </div>
        </div>
    </div>
</div>

<!--Featured Image-->
<div class = 'container'>
    <div class='row' id='featured_image'>
        <div class = 'col-lg-8 col-md-8 col-sm-12'>
            <h4>Latest Image</h4>
                <img src = '{{mars.featured_image}}' class = 'img-responsive' style= 'width:auto; height:auto;' alt = 'Featured Image'>
        </div>
    </div>
</div>


</body>
</html>